In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
titanic_data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Dataset/titanic_train.csv')

In [ ]:
len(titanic_data)
titanic_data.head()
titanic_data.index
titanic_data.columns
titanic_data.info()
titanic_data.dtypes
titanic_data.describe()
sns.countplot(x='Survived',data=titanic_data)
sns.countplot(x='Survived',data=titanic_data,hue='Sex')
titanic_data.isna().sum()

#find the % of null values in age column
(titanic_data['Age'].isna().sum()/len(titanic_data['Age']))*100

#find the % of null values in cabin column
(titanic_data['Cabin'].isna().sum()/len(titanic_data['Cabin']))*100

#find the distribution for the age column
sns.displot(x='Age',data=titanic_data)

#fill age column
titanic_data['Age'].fillna(titanic_data['Age'].mean(),inplace=True)

#Drop cabin column
titanic_data.drop('Cabin',axis=1,inplace=True)

#divide data
x=titanic_data[['PassengerId','Pclass','Age','SibSp','Parch','Fare','Gender']]
y=titanic_data['Survived']

891

In [ ]:
X=titanic_data.drop('Survived',axis=1)
y=titanic_data['Survived']

In [ ]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')